@import 'https://fonts.googleapis.com/css?family=Raleway|Crimson+Text|Open+Sans';
body {
    z-index:500;
    max-width: 800px;
    font-family: 'Crimson Text';
    margin: 0 auto;
}
header h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans;
}

.MathJax_Display {
    font-size: large;
}
