<style type ="text/css">
 @import 'https://fonts.googleapis.com/css?family=Amatic+SC|Crimson+Text|Open+Sans';
 body {
     z-index:500;
     max-width: 960px;
     font-family: 'Crimson Text';
     margin: 0 auto;
 }
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Open Sans', sans;
 }
 .page-wrapper {
     margin-bottom: 1em;
 }
 a {
     color: #0095dd;
     text-decoration:none;
 }
 a:hover {
     color:white;
     background-color: #0095dd;
 }
 .page-wrapper:after {
     content: "\00A7";
     text-align: center;
     display: block;
     margin: 2em;
     font-size: 1.5em;
 }

</style>
