<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        <!-- This loops through the paginated posts -->
        <ul>
            {% for post in paginator.posts %}
            <li>
                <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                {% if post.summary %}
                {{ post.summary }} <a href ="{{ site.baseurl }}{{ post.url }}">Read on... &raquo;</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <!-- Pagination links -->
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
            <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
            <span class="next ">Next</span>
            {% endif %}
        </div>

        {% include footer.html %}
        <style type="text/css">
         ul li h3 {
             margin: 0.2em;
         }
         ul li {
             list-style-type: none;
             padding: 5px;
             padding-top: 0.5em;
             padding-bottom: 0.5em;
         }
        </style>

    </body>
</html>
